@import 'tailwindcss';

@theme {
  --font-serif: var(--font-montserrat), 'Montserrat', ui-sans-serif, sans-serif;
  --font-sans: var(--font-inter), 'Inter', ui-sans-serif, sans-serif;

  --color-primary: #303f9f;
  --color-secondary: #d32f2f;
  --color-brand-green: #689f38;
  --color-brand-yellow: #fbc02d;

  --color-background: #ffffff;
  --color-surface: #f8f9fa;
  --color-surface-dim: #eef1f4;
  --color-outline: #e2e8f0;

  --color-text-main: #191c1d;
  --color-text-muted: #45464d;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-sans);
  }
  ::selection {
    background-color: var(--color-primary);
    color: #ffffff;
  }
}

.bullet-square::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--color-primary);
  margin-right: 12px;
  margin-bottom: 2px;
  vertical-align: middle;
}
